<table class="table">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Complete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @lists.each do |list| %>
  <tr>
    <td><%= list.title %></td>
    <td><%= list.date.to_s(:db) %></td>
    <td><%= list.complete %></td>
    <td><%= link_to "Show", list_path(list) %></td>
    <td><%= link_to "Edit", edit_list_path(list) %></td>
    <td><%= link_to "Destroy", list_path(list), method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>

<%= paginate @lists %>

<%= link_to "New TodoList", new_list_path %>
